---
layout: base
---
<main class="container">
  <section id="main-content" aria-label="Content">
    <article class="post">

      <div class="post-header">
        <h1 id="post-title">{{ page.title | escape }}</h1>
        <small>_date: {{ page.date | date: "%Y-%m-%d" }}</small>
      </div>

      {% if page.tags %}
      <div class="post-tags">
        <small>_tags: <em>{{ page.tags | join: "</em>, <em>" }}</em></small>
      </div>
      {% endif %}

      <div class="post-content">
        {{ content }}
      </div>

    </article>
  </section>
</main>
